$main-color: skyblue;

body {
  background-color: $main-color;
}

.root {
  &--loading {
    &::after {
      display: block;
      position: fixed;
      top: 0; bottom: 0; left: 0; right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      content: 'Loading...';
      text-align: center;
      line-height: 100vh;
      vertical-align: middle;
      color: white;
    }
  }
}
